.dropdown {
	position: relative;

	.dropdown-menu {
		display: none;
		position: absolute;
		left: 0;
		top: 103%;
		z-index: 1000;
		background: white;
		min-width: 200px;
		text-align: left;
		box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
	}
	li{
		&.seperator{
		border-top: 1px solid #ccc;
		margin: 5px 0;
	  }
	  &>a {
	  	margin: 5px 0;
	  	padding: 5px 0 5px 15px;
	  	display: block;
	  	color: black;
	  	&:hover{
			background-color: whitesmoke;
	  	}
	  }
	}
	
	&.is-aligned-right .dropdown-menu {
		right: 0;
		left: auto;

	}

	&.is-open .dropdown-menu {
		display: block;
	}
}

button.navbar-item{
	background-color: white;
	border:none;
	&:hover{
		color: $link-hover;
	}
}
.navbar-item.is-tab:hover {
  background-color: transparent;
  border-bottom-color: rgb(0, 209, 178);

}
a.navbar-item:hover{
	color: black;
}
 a.navbar-item.is-active {
    background-color: whitesmoke;
    color: $link-active;
  }
  .navbar{
  	height: 4.5rem;
  }
  .navbar-item img{
  	max-height: 2.8rem;
  }
  .is-muted{
  	color: $grey-light;
  }
  a.is-muted:hover{
  	color: $grey;
  }
  .menu-list a:hover {
  background-color: whitesmoke;
  color: rgb(0, 209, 178);
}
.pagination-previous,
.pagination-next,
.pagination-link {
  border-color: #dbdbdb;
  color: rgb(0, 209, 178);
  min-width: 2.25em;
}
.pagination-previous:hover,
.pagination-next:hover,
.pagination-link:hover {
  border-color: rgb(0, 209, 178);
  color: #363636;
}
.pagination-link.is-current {
  background-color: rgb(0, 209, 178);
  border-color: rgb(0, 209, 178);
  color: #fff;
}
.input{
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}
.input:hover{
	border-color: rgb(0, 209, 178);
}
.input:focus{
	border-color: rgb(0, 209, 178);
}
.input:active{
	border-color: rgb(0, 209, 178);
}